In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('data/bhr1.csv', error_bad_lines=False, sep=';')
columns = df1.columns
df2 = pd.read_csv('data/bhr2.csv', names = columns, error_bad_lines=False, sep=';')
df = pd.concat([df1, df2])

C:\Users\hanna\AppData\Local\Temp/ipykernel_4180/891959089.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df1 = pd.read_csv('data/bhr1.csv', error_bad_lines=False, sep=';')
C:\Users\hanna\AppData\Local\Temp/ipykernel_4180/891959089.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df2 = pd.read_csv('data/bhr2.csv', names = columns, error_bad_lines=False, sep=';')

In [3]:
df

,lev,sys,numbis,text,vw
0,1,S xxx,yyy,...Bibliotheca Hertziana,NaN
1,1,S xxx,yyy,...Systematischer Standortkatalog,NaN
2,1,A,NaN,...Handbücherei,NaN
3,2,Aa,NaN,......Allgemeine Nachschlagewerke,NaN
4,3,Aa xxx,yyy,.........Lexika,NaN
...,...,...,...,...,...
5960,5,Zt 9630,NaN,"...............idem (= Neuzeit (nach 1500)), n...",NaN
5961,5,Zt 9660,NaN,"...............idem (= Neuzeit (nach 1500)), n...",NaN
5962,5,Zt 9700,NaN,"...............19. und 20. Jh., allgemein",NaN
5963,5,Zt 9730,NaN,"...............idem (= 19. und 20. Jh.), nur k...",NaN
5964,5,Zt 9760,NaN,"...............idem (= 19. und 20. Jh.), nur p...",NaN

## Cleaning

#### Text

In [4]:
# getting rid of the ... in the texts
df["text"] = df["text"].str.replace(r'\.{3,}', '')

C:\Users\hanna\AppData\Local\Temp/ipykernel_4180/1185189639.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df["text"] = df["text"].str.replace(r'\.{3,}', '')

In [5]:
df

,lev,sys,numbis,text,vw
0,1,S xxx,yyy,Bibliotheca Hertziana,NaN
1,1,S xxx,yyy,Systematischer Standortkatalog,NaN
2,1,A,NaN,Handbücherei,NaN
3,2,Aa,NaN,Allgemeine Nachschlagewerke,NaN
4,3,Aa xxx,yyy,Lexika,NaN
...,...,...,...,...,...
5960,5,Zt 9630,NaN,"idem (= Neuzeit (nach 1500)), nur katholisch",NaN
5961,5,Zt 9660,NaN,"idem (= Neuzeit (nach 1500)), nur protestantisch",NaN
5962,5,Zt 9700,NaN,"19. und 20. Jh., allgemein",NaN
5963,5,Zt 9730,NaN,"idem (= 19. und 20. Jh.), nur katholisch",NaN
5964,5,Zt 9760,NaN,"idem (= 19. und 20. Jh.), nur protestantisch",NaN

In [ ]:
# resolve the idem thing

In [ ]:
# import the rows with no particular signature